.ahome{
    height: 100vh;
    background-color: #F2EE9D;
    display: grid;
}

.ai{
    width: 80vw;
    aspect-ratio: 2.15/1;
    background-color: #FFFBE9;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.ahome h3{
    font-size: 2vw;
    color: #555843;
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.ahome h5{
    color: black;
    font-size: 1.2vw;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ahome p{
    color: white;
    font-size: 1.2vw;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-card{
    background-color: transparent;
    border-radius: 50%;
    width: 20vw;
    height: 15vw;
    margin: auto;
    perspective: 1000px;
}

.flip-card-inner{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    position: relative;
    border-radius: 50%;
    width: 20vw;
    height: 15vw;
    margin: auto;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back{
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border-radius: 50%;
    width: 20vw;
    height: 15vw;
    margin: auto;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back{
    transform: rotateY(180deg);
}

.u{
    width: 20vw;
}

.d{
    width: 25vw;
}

.at{
    width: 75vw;
    margin: auto;
}

.att{
    width: 50vw;
    margin: auto;
}

.ar{
    width: 4vw;
    position: absolute;
}
