.eho{
    height: 100vh;
    background-color: #79E0EE;
    display: grid;
}

.ei{
    width: 80vw;
    aspect-ratio: 2.15/1;
    background-color: #FFFBE9;
    margin: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: grid;
}

.ect{
    width: 80vw;
    margin: 0;
    padding: 0;
}

.eco{
    width: 40vw;
}

.eco:first-child {
    border-right: dotted 5px green;
  }

.eco img{
    width: 5vw;
    vertical-align: middle;
    padding-left: 10px;
}

.ecoi img{
    width: 3vw;
    padding-right: 5px;
    vertical-align: middle;
}

.eco h3{
    font-size: 2vw;
    text-align: center;
    color: #6ECB63;

}

.eco p{
    font-size: 1.3vw;
    padding-left: 7vw;
    line-height: 10vh;
    color: #3B5249;
    font-weight: bold;
}